.body {
  font-family: sans-serif;
  background-color: aquamarine;
  color: purple;
}
.body__header {
  display: flex;
  justify-content: center;
  text-align: center;
}
.main {
  display: grid;
}
.main__form {
  grid-template-columns: 1/13;
}
.main__list {
  grid-template-columns: 1/13;
}
.main__favorites {
  grid-template-columns: 1/13;
}
.article {
  border: purple 1rem solid;
}

@media all and (min-width: 768px) {
  .main__list {
    grid-template-columns: 1/5;
  }
  .main__favorites {
    grid-template-columns: 6/13;
  }
}
